<template>
  <div>

    <layout>
      <AppDrawer></AppDrawer>
      <transition name="slide-fade">
      <div class="content-wrapper py-3">
          <router-view></router-view>
      </div>
      </transition>
    </layout>

  </div>
</template>

<script>
import Layout from "./layouts/MainLayout";
import NavigationDrawer from "./components/NavigationDrawer";
import AppDrawer from "./components/AppDrawer";
export default {
  name: "app",
  components: {
    Layout,
    AppDrawer
  }
};
</script>

<style>
</style>
