#app > .wrapper {
    width: 100%;
    margin-top: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .drawer li > a:hover {
    background-color: rgba(30, 30, 33, 0.13) !important;
    text-decoration: none;
  }
.margin-top-{
    padding-top: 25px;
    
}
.v-sidebar-menu.vsm-default .vsm-item.first-item.open-item>.vsm-link {
  color: #fff;
  background-color:#666 !important;
}
.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link, .v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link {
  /* -webkit-box-shadow: 3px 0px 0px 0px #4285f4 inset; */
  box-shadow: 3px 0px 0px 0px #666 inset !important;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list {
  background-color: #292b2c !important;
}
.v-sidebar-menu {
  background-color: #666 !important;
  /*width: 250px !important;*/
}
.v-sidebar-menu .collapse-btn {
  color: #fff;
  background-color: #666 !important;
}
.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link>.vsm-icon, .v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link>.vsm-icon {
  color: #fff;
  background-color: #666 !important;
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon {
  color: #fff;
  background-color: #666 !important;
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon {
  color: #fff;
  background-color: #666 !important;
}
@media (min-width: 992px){
.content-wrapper {
    margin-left: 250px;
    margin-top: 40px;
}
}
.drawer li > a:hover {
  background-color: none !important;
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
.btn-success {
  color: #fff;
  background-color: #666666 !important ;
  border-color: #666666 !important;
}
.pull-right {
  float: right;
}
#table_id_wrapper{
  padding-bottom: 20px;
}

.navbar {
  position: fixed !important;
  background-color: #79248c !important;
  border-bottom: #79248c 4px solid !important;
  max-height: 44px !important;
 
}
#table_id > tr {
  background: #79248c !important;
}
#table_id > tr > th{
  color: white;
}

.v-sidebar-menu.vsm-default .vsm-link:hover {
  color: #fff;
  color: rgba(255,255,255,.75) !important;
  background-color:rgba(0,0,0,0) !important;
}
.v-sidebar-menu .vsm-link {
 
  font-size: 14px !important;
  
}
.nav-wrapper .nav-item .nav-link{
  color:white;
}

td.sorting_1 {
  text-align: right;
}
#TableSimple{
  font-size: 15px !important;
}
i.fa-pencil-alt {
  color: #13173d;
}
.class-buton{
  background: transparent;
  border: NONE;
}

/*****tablas********/
table.vgt-table {
  font-size: 14px !important;
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  border: 1px solid #dcdfe6;
  
}
.vgt-wrap__footer {
  color: #606266;
  padding: 1em;
  border: none !important;
  background: none !important;
}
.vgt-global-search {
  padding: 5px 0;
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
  border: 1px solid #dcdfe6;
  border-bottom: 0;
  background: none !important;
}
.vgt-table thead th {
  color: #58595b !important;
  vertical-align: bottom;
  border-bottom: 1px solid #dcdfe6;
  padding-right: 1.5em;
  /*background: linear-gradient(#79248c,#a067af) !important;*/
  background: #efefef !important;
}
/**********************/
.pull-right{
  margin-top: 20px;
}

/*Modal*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15) !important;
  display: table;
  transition: opacity .3s ease;
  overflow-y: auto;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-wrapper_ {
  display: table-cell;
  /* vertical-align: middle; */
  padding-top: 20px;
}

.modal-container {
  width: 468px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  
  
}

.modal-header h3 {
  margin-top: 0;
  font-size: large;
 
}

.modal-body {
  max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-header h3 {
  margin-top: 0;
  color: #212529 !important;
}

.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link {
  color: #636c72 !important;
}

/*menu*/
.vsm-link.active a {
  color: white !important;
  background-color: #464a4c !important;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link:hover {
  color: #fff !important;
  background-color: white;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link:active {
  color: #fff !important;
  background-color: #464a4c !important;
}

td.fila-detalle {
  background: url(../img/open.png) no-repeat center center !important;
  cursor: pointer !important;
}


#show-modal{
    background-color: #449d44 !important;
    border-color: #419641 !important;
}

.active-item {
  background-color:#464a4c !important;
}
.active-item .vsm-title{
  color: white !important;
}
.show-modal{
  background-color: #449d44 !important;
  border-color: #419641 !important;
}

.modal-container_ {
  width: 868px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list {
   padding: 0px !important; 
}

.none{
  display: none !important;
}
.v-sidebar-menu {
  
  padding-top: 50px;
}
a.nav-link:hover{
  color: rgba(255,255,255,.75) !important;
}
.default-styles[data-v-1d441d3c] {
  color: white;
  background-color: #ff7900 !important; 
  border: solid 1px transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16.5px 8px 16px;
  line-height: 1.9rem;
}
.vgt-wrap{
  margin-bottom: 1rem !important;
}

.btn-secondary_ {
  color: #fff;
   background-color: white !important; 
   border-color: #adadad !important; 
}
.btn-secondary_:hover {
  color: #292b2c;
  background-color: #adadad !important;
  border-color: #adadad !important;
}
@media (min-width: 992px){
  .content-wrapper {
      margin-left: 250px;
  }
}
@media (min-width: 375px) and (max-width: 991.98px) { 
    .content-wrapper {
      margin-left: 50px;
  }
}

.btn-confirmar-margin{
  padding-top: 13px;
}
.lista-parametros{
 
  border-bottom: 1px solid #c0c4cc;
  margin-bottom: 25px;
  padding-top: 10px;
}

.jq-error {
  color: #fb5f5c !important;
}
.custom-class{
  display: none !important;
}

.tex-canje{
  color: #5A5A5A;
  /*font-weight: bold;*/
}
.tex-canje-alert{
  color: #dc3545;
  font-weight: bold;
}
.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
}
.boton {
  display:inline-block;
  width:30px;
  height:30px;
  border-radius:100%;
  border:2px solid #ccc;
  position:relative;
}

.boton.mas::before, .boton.menos::before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:40%;
  height:0;
  border-top:3px solid #ccc;
}

.boton.mas::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:0;
  height:40%;
  border-left:3px solid #ccc;
}
.mensaje-border{
  border-left: 2px solid #ccc;
  padding-left: 56px !important;
}

i.fa-check {
  color: #f8f9fa;
  font-size: 11;
  width: 20;
}
i.fa-times {
  color: #0275d8;
  font-size: 11;
  width: 20;
}
i.fa-download {
  color: #f8f9fa;
  font-size: 11;
  width: 20;
}

.modal-container{
  max-height: 95vh;
  overflow: scroll;
  
}
.modal-body {
  overflow: hidden !important;
 
}


.btn-success {
  color: #fff !important;
  background-color: #9f27f9 !important;
  border-color: #9f27f9 !important;

}
.btn-close {
  color: #fff !important;
  background-color: #047D71 !important;
  border-color: #047D71 !important;

}


.contabilidad_td{
  float: left;
    left: 5;
   
    margin-top: 0;
    margin-bottom: 0;
}

.padre-transform{
 
  height: 100vh;
   display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
 
}
.padre-transform > div{
  text-align: center;
  max-width: 100%;
  width: 30%;
}
.img {
  width: auto;
  height : auto;
  max-height: 65% !important;
  max-width: 65% !important;
}

.card-header {
  margin-bottom: 10px !important;
}
.msj_report{
  
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center !important;

}
.alert-report {
  color: #721c24;
  background-color: #dee2e6;
  border-color: #f5c6cb;
  margin-top: 20px;

}
.box {
  transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
body.modal-open {
  overflow: hidden;
  height: 100vh;
}
/****/
.font-style-note{
  font-size: small;
  font-style: oblique
}

.hold-transition{
  background: white;
}
.v-sidebar-menu {
  padding-top: 48px;
}
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 {
  color: #fff;
  background-color: #212529 !important;
}
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
  background-color: #6c757d !important;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  height: 30px;
  line-height: 30px;
  width: 30px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
  border-radius: 0px !important; 
}
.v-sidebar-menu {
  background-color: #1a2226!important;
  /* width: 250px !important; */
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active, .v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  -webkit-box-shadow: 2px 0px 0px 0px #79248c  inset !important;
  /* box-shadow: 3px 0px 0px 0px #4285f4 inset; */
}


body {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
body {
  /*font-family: "Helvetica Neue" !important;*/
  font-size: 14px !important;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.user-panel>.image>img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.pull-left {
  float: left!important;
}
a {
  color: #f8f9fa !important;
  text-decoration: none;
  background-color: transparent;
}

.info {
  color: #fff !important;
  padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}
.img-circle {
  border-radius: 50%;
}

.profile-img-card-nav {
  width: 96px;
  height: 36px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
  margin-bottom: 0;
  margin-left: 31px;
}

.modal-container {
  width: 650px !important;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, .33); */
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}



.vue-form-wizard .wizard-nav-pills>li>a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  color:  rgb(28 26 26 / 25%) !important;;
  position: relative;
  top: 3px;
 
}

table {
  border: 2px solid #79248c;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #79248c;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

#forgot{
  color:#79248c !important;
}
table.vgt-table td {
  padding: .75em .75em .75em .75em;
  vertical-align: bottom !important;
  border-bottom: 1px solid #dcdfe6;
  color: #606266;
}

.fon-zise{
  font-size: 20px !important;
}

.button_enviar{
  font-size:15px !important;
  padding: 0px 16.5px 8px 16px !important;
 
}

/*.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: #007bff;
}*/
.v-sheet.theme--dark.v-toolbar.v-sheet {
  background-color: #efefef;
  color: #58595b !important;
}
.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: #9c27b0;
}
.v-sheet.theme--dark.v-toolbar.primary.darken-1{
  background-color: #9c27b0;
}
.v-text-field--outlined fieldset {
  border-collapse: collapse;
  border: 1px solid;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -5px;
  transition-duration: .3s;
  transition-property: color,border-width;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
}

.v-text-field--outlined.v-input--has-state fieldset, .v-text-field--outlined.v-input--is-focused fieldset {
  border: 1px solid !important; 
}

.v-text-field--outlined .v-label {
  top: 22px;
}

.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
 /* background-color: #9f27f9*/ ;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #f8f9fa!important;
}
.theme--light.v-navigation-drawer {
  background-color: rgb(0 0 0 / 87%);
}

.v-list-item__icon>.theme--light.v-icon {
  color: #f8f9fa!important;
}

.theme--light.v-sheet {
  background-color: #fff;
  /* border-color: #fff; */
  color: rgb(175 158 158 / 87%);
}


.v-autocomplete__content .v-list-item__content .v-list-item__title{
  color: black!important;
}

th {
  background-color: #e9ecef;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table {
  border: 1px solid #495057;
  border-top-color: rgb(73, 80, 87);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(73, 80, 87);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(73, 80, 87);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(73, 80, 87);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 3px;
  background-color: #fff;
}

.theme--light.v-icon.mdi-checkbox-marked {
   color: black !important; 
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
  color: rgba(0,0,0,.87) !important;
}
.theme--light.v-icon.v-input--checkbox {
  color:rgba(0,0,0,.87) !important;
}

.v-navigation-drawer__content>.v-toolbar>.v-toolbar__content>.v-toolbar__title{
  color: white !important;
}
.bx--btn--tertiary {
  background-color: rgba(0,0,0,0);
  border-width: 1px;
  border-style: solid;
  border-color: #9f27f9;
  color: #9f27f9;
}
.v-card__actions>button>.v-btn__content{
  color:black !important
}
.theme--light.v-navigation-drawer {
  background-color: #212121 !important;
}

.v-list-item .v-list-item__title {
  line-height: 1.2;
  color: white;
}

.theme--dark {
  color: white !important;
}
.v-sheet.theme--dark.v-toolbar.primary.darken-1 {
  background-color: rgb(6, 3, 58);
}

#app > .wrapper {
  width: 100%;
  margin-top: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.drawer li > a:hover {
  background-color: rgba(30, 30, 33, 0.13) !important;
  text-decoration: none;
}
.margin-top-{
  padding-top: 25px;
  
}
.v-sidebar-menu.vsm-default .vsm-item.first-item.open-item>.vsm-link {
color: #fff;
background-color:#666 !important;
}
.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link, .v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link {
/* -webkit-box-shadow: 3px 0px 0px 0px #4285f4 inset; */
box-shadow: 3px 0px 0px 0px #666 inset !important;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list {
background-color: #292b2c !important;
}
.v-sidebar-menu {
background-color: #666 !important;
/*width: 250px !important;*/
}
.v-sidebar-menu .collapse-btn {
color: #fff;
background-color: #666 !important;
}
.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link>.vsm-icon, .v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link>.vsm-icon {
color: #fff;
background-color: #666 !important;
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon {
color: #fff;
background-color: #666 !important;
}
.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon {
color: #fff;
background-color: #666 !important;
}
@media (min-width: 992px){
.content-wrapper {
  margin-left: 250px;
}
}
.drawer li > a:hover {
background-color: none !important;
color: rgba(255,255,255,.75);
text-decoration: none;
}
.btn-success {
color: #fff;
background-color: #666666 !important ;
border-color: #666666 !important;
}
.pull-right {
float: right;
}
#table_id_wrapper{
padding-bottom: 20px;
}

.navbar {
  position: fixed !important;
  background-color: #044bb3  !important;
  border-bottom: #044bb3  4px solid !important;
  max-height: 44px !important;
 
}
#table_id > tr {
background: #044bb3 !important;
}
#table_id > tr > th{
color: white;
}

.v-sidebar-menu.vsm-default .vsm-link:hover {
color: #fff;
color: rgba(255,255,255,.75) !important;
background-color:rgba(0,0,0,0) !important;
}
.v-sidebar-menu .vsm-link {

font-size: 14px !important;

}
.nav-wrapper .nav-item .nav-link{
color:white;
}

td.sorting_1 {
text-align: right;
}
#TableSimple{
font-size: 15px !important;
}
i.fa-pencil-alt {
color: #13173d;
}
.class-buton{
background: transparent;
border: NONE;
}

/*****tablas********/
table.vgt-table {
font-size: 14px !important;
border-collapse: collapse;
background-color: #fff;
width: 100%;
max-width: 100%;
table-layout: auto;
border: 1px solid #dcdfe6;

}
.vgt-wrap__footer {
color: #606266;
padding: 1em;
border: none !important;
background: none !important;
}
.vgt-global-search {
padding: 5px 0;
display: flex;
flex-wrap: no-wrap;
align-items: stretch;
border: 1px solid #dcdfe6;
border-bottom: 0;
background: none !important;
}
.vgt-table thead th {
color:#495057 !important;
vertical-align: bottom;
border-bottom: 1px solid #dcdfe6;
padding-right: 1.5em;
/*background: linear-gradient(#79248c,#a067af) !important;*/

}
/**********************/
.pull-right{
margin-top: 20px;
}

/*Modal*/
.modal-mask {
position: fixed;
z-index: 9998;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.15) !important;
display: table;
transition: opacity .3s ease;
overflow-y: auto;
}

.modal-wrapper {
display: table-cell;
vertical-align: middle;
}
.modal-wrapper_ {
display: table-cell;
/* vertical-align: middle; */
padding-top: 20px;
}

.modal-container {
width: 468px;
margin: 0px auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 2px;
/*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
transition: all .3s ease;
font-family: Helvetica, Arial, sans-serif;
font-size: small;


}

.modal-header h3 {
margin-top: 0;
font-size: large;

}

.modal-body {
max-height: calc(100% - 120px);
  overflow-y: scroll;
}

.modal-default-button {
float: right;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
opacity: 0;
}

.modal-leave-active {
opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.modal-header h3 {
margin-top: 0;
color: #212529 !important;
}

.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link {
color: #636c72 !important;
}

/*menu*/
.vsm-link.active a {
color: white !important;
background-color: #464a4c !important;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link:hover {
color: #fff !important;
background-color: white;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link:active {
color: #fff !important;
background-color: #464a4c !important;
}

td.fila-detalle {
background: url(../img/open.png) no-repeat center center !important;
cursor: pointer !important;
}


#show-modal{
  background-color: #449d44 !important;
  border-color: #419641 !important;
}

.active-item {
background-color:#464a4c !important;
}
.active-item .vsm-title{
color: white !important;
}
.show-modal{
background-color: #449d44 !important;
border-color: #419641 !important;
}

.modal-container_ {
width: 868px;
margin: 0px auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 2px;
/*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
transition: all .3s ease;
font-family: Helvetica, Arial, sans-serif;
font-size: small;
}
.card-block {
-webkit-box-flex: 1;
-webkit-flex: 1 1 auto;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
padding: 1.25rem;
}
.v-sidebar-menu .vsm-dropdown>.vsm-list {
 padding: 0px !important; 
}

.none{
display: none !important;
}
.v-sidebar-menu {

padding-top: 50px;
}
a.nav-link:hover{
color: rgba(255,255,255,.75) !important;
}
.default-styles[data-v-1d441d3c] {
color: white;
background-color: #ff7900 !important; 
border: solid 1px transparent;
border-radius: 4px;
cursor: pointer;
padding: 8px 16.5px 8px 16px;
line-height: 1.9rem;
}
.vgt-wrap{
margin-bottom: 1rem !important;
}

.btn-secondary_ {
color: #fff;
 background-color: white !important; 
 border-color: #adadad !important; 
}
.btn-secondary_:hover {
color: #292b2c;
background-color: #adadad !important;
border-color: #adadad !important;
}
@media (min-width: 992px){
.content-wrapper {
    margin-left: 250px;
}
}
@media (min-width: 375px) and (max-width: 991.98px) { 
  .content-wrapper {
    margin-left: 50px;
}
}

.btn-confirmar-margin{
padding-top: 13px;
}
.lista-parametros{

border-bottom: 1px solid #c0c4cc;
margin-bottom: 25px;
padding-top: 10px;
}

.jq-error {
color: #fb5f5c !important;
}
.custom-class{
display: none !important;
}

.tex-canje{
color: #79248c;
font-weight: bold;
}
.tex-canje-alert{
color: #dc3545;
font-weight: bold;
}
.circulo {
width: 100px;
height: 100px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
background: #5cb85c;
}
.boton {
display:inline-block;
width:30px;
height:30px;
border-radius:100%;
border:2px solid #ccc;
position:relative;
}

.boton.mas::before, .boton.menos::before {
content:"";
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:40%;
height:0;
border-top:3px solid #ccc;
}

.boton.mas::after {
content:"";
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
width:0;
height:40%;
border-left:3px solid #ccc;
}
.mensaje-border{
border-left: 2px solid #ccc;
padding-left: 56px !important;
}

i.fa-check {
color: #f8f9fa;
font-size: 11;
width: 20;
}
i.fa-times {
color: #0275d8;
font-size: 11;
width: 20;
}
i.fa-download {
color: #f8f9fa;
font-size: 11;
width: 20;
}

.modal-container{
max-height: 95vh;
overflow: scroll;

}
.modal-body {
overflow: hidden !important;

}


.btn-success {
color: #fff !important;
background-color: #9f27f9 !important;
border-color: #9f27f9 !important;

}
.btn-close {
color: #fff !important;
background-color: #047D71 !important;
border-color: #047D71 !important;

}


.contabilidad_td{
float: left;
  left: 5;
 
  margin-top: 0;
  margin-bottom: 0;
}

.padre-transform{

height: 100vh;
 display: flex;
align-items: center;
justify-content: center;
max-width: 1000px;

}
.padre-transform > div{
text-align: center;
max-width: 100%;
width: 30%;
}
.img {
width: auto;
height : auto;
max-height: 65% !important;
max-width: 65% !important;
}

.card-header {
margin-bottom: 10px !important;
}
.msj_report{

  margin-left: 0px !important;
  margin-right: 0px !important;
  text-align: center !important;

}
.alert-report {
color: #721c24;
background-color: #dee2e6;
border-color: #f5c6cb;
margin-top: 20px;

}
.box {
transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
body.modal-open {
overflow: hidden;
height: 100vh;
}
/****/
.font-style-note{
font-size: small;
font-style: oblique
}

.hold-transition{
background: white;
}
.v-sidebar-menu {
padding-top: 48px;
}
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 {
color: #fff;
background-color: #212529 !important;
}
.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
background-color: #6c757d !important;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
height: 30px;
line-height: 30px;
width: 30px;
-ms-flex-negative: 0;
flex-shrink: 0;
text-align: center;
border-radius: 0px !important; 
}
.v-sidebar-menu {
background-color: #1a2226!important;
/* width: 250px !important; */
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active, .v-sidebar-menu .vsm--link_level-1.vsm--link_active {
-webkit-box-shadow: 2px 0px 0px 0px #79248c  inset !important;
/* box-shadow: 3px 0px 0px 0px #4285f4 inset; */
}


body {
font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
body {
font-family: "Helvetica Neue" !important;
font-size: 14px !important;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

.user-panel>.image>img {
width: 100%;
max-width: 45px;
height: auto;
}
.pull-left {
float: left!important;
}
a {
color: #f8f9fa !important;
text-decoration: none;
background-color: transparent;
}

.info {
color: #fff !important;
padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.img-circle {
border-radius: 50%;
}

.profile-img-card-nav {
width: 96px;
height: 36px;
margin: 0 auto 10px;
display: block;
-moz-border-radius: 0%;
-webkit-border-radius: 0%;
border-radius: 0%;
margin-bottom: 0;
margin-left: 31px;
}

.modal-container {
width: 650px !important;
margin: 0px auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 2px;
/* box-shadow: 0 2px 8px rgba(0, 0, 0, .33); */
transition: all .3s ease;
font-family: Helvetica, Arial, sans-serif;
font-size: small;
}



.vue-form-wizard .wizard-nav-pills>li>a {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
padding: 0;
margin: 0 auto;
color:  rgb(28 26 26 / 25%) !important;;
position: relative;
top: 3px;

}

table {

border-radius: 3px;
background-color: #fff;
}

th {

color: black;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

td {
background-color: #f9f9f9;
}

th, td {
min-width: 120px;
padding: 10px 20px;
}

th.active {
color: #fff;
}

th.active .arrow {
opacity: 1;
}

.arrow {
display: inline-block;
vertical-align: middle;
width: 0;
height: 0;
margin-left: 5px;
opacity: 0.66;
}

.arrow.asc {
border-left: 4px solid transparent;
border-right: 4px solid transparent;
border-bottom: 4px solid #fff;
}

.arrow.dsc {
border-left: 4px solid transparent;
border-right: 4px solid transparent;
border-top: 4px solid #fff;
}

#forgot{
color:#79248c !important;
}
table.vgt-table td {
padding: .75em .75em .75em .75em;
vertical-align: bottom !important;
border-bottom: 1px solid #dcdfe6;
color: #606266;
}

.fon-zise{
font-size: 20px !important;
}

.button_enviar{
font-size:15px !important;
padding: 0px 16.5px 8px 16px !important;

}
body{
    font-family: Roboto, Arial, sans-serif !important;
    font-size: 13px !important;
    line-height: 1.2 !important;
    color: #444 !important;
    background: white !important;
}
.colorW{
    background-color: white !important;
}
.ci{
    background-color: black !important;
}
.pagina {
    background: #FFFFFF;
    margin-top: 15px;
    box-shadow: 0 2px 4px #ccc;
    padding: 15px;
    border-top: 1px  solid #F0F0F0;
}

.pagina h1 {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 32px;
    border-bottom: 1pxsolid #EEE;
    margin: 0 -15px20px;
    padding: 0 15px10px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700 !important;
}

.boton {
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:100%;
    border:2px solid #ccc;
    position:relative;
  }
  
  .boton.mas::before, .boton.menos::before {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:40%;
    height:0;
    border-top:3px solid #ccc;
  }
  
  .boton.mas::after {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:0;
    height:40%;
    border-left:3px solid #ccc;
  }

  .btn-success {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}}

.padding_input{
    padding-top: 7px;
    margin-bottom: 0;
}
.theme--light.v-icon.mdi-checkbox-marked {
  color: black !important;
}
.theme--light.v-icon {
  color: blue !important;
}
.v-input--selection-controls__ripple.green--text {
   color: blue !important;
}

.v-input--selection-controls__input {
  color: inherit;
  display: inline-flex;
  flex: 0 0 auto;
  height: 24px;
  position: relative;
  transition: .3s cubic-bezier(.25,.8,.5,1);
  transition-property: transform;
  width: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.v-application .primary--text {
  color: #1867c0 !important;
  caret-color: #1867c0 !important;
}

.selected {
  background-color: red
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
  background-color: rgb(6, 3, 58)!important;
}
.tituloD{
  font-weight: bold;
    letter-spacing: -1px;
    font-size: 32px;
}