<template>
<div>
  <sidebar-menu :menu="menu"
 
    :collapsed="collapsed"
    :theme="selectedTheme"
    :show-one-child="true"
    @collapse="onCollapse"
    @itemClick="onItemClick"
    :width="width" >
    
    </sidebar-menu>
  
</div>
</template>
 
<script>
import { mapState } from "vuex";
import { SidebarMenu } from 'vue-sidebar-menu'
import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'
export default {
  name: "dashboard",
   computed: {
    ...mapState("global", {
      // key => yeta rakhne naam , value => uta k xa
      currentUser: "currentUser",
    }),
  },
  data() {
    return {
      collapsed: false,
      themes: ["", "white-theme"],
      selectedTheme: "default-theme",
      width: "250px",
      menu: [
                    {
                        header: true,
                        title: '',
                        hiddenOnCollapse: true
                    },
                    {
                        href: '/',
                        title: 'Reglas',
                        icon: 'fa fa-fw fa-wrench'
                    },
                    {
                        href: '#',
                        title: 'Reportes',
                        icon: 'fa fa-chart-area',
                        child: [
                            {
                                href: '/charts/sublink',
                                title: 'Sub Link'
                            },{
                                href: '/charts/sublink',
                                title: 'Sub Link'
                            }
                        ]
                    }
                ]
    };
  },
  components: {
    SidebarMenu
  },
  methods: {
    onCollapse(collapsed) {
      this.collapsed = collapsed;
    }, 
      onItemClick(event, item) {},
    }
  
};




</script>

