<template>
  <div>
        <div class="card-header">
            <slot name="title">Paneles Vision General</slot>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-lg-4  ">
                    <div class="cell ">
                        <div class="card-header_ title_">
                            <slot name="title" class="">Encuestas</slot>
                        </div>
                        <div class="p">
                            <div><span class="styleTex">{{encuestaSendDay}}</span></div>
                        </div>
                        <div>
                            <span> Diaria</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="cell">
                        <div class="card-header_ title_">
                            <slot name="title">Personas con pase </slot>
                        </div>
                        <div class="p">
                            <div><span class="styleTex">{{encuestaDiariaConPase}}</span></div>
                        </div>
                        <div>
                            <span> de movilidad</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="cell">
                        <div class="card-header_ title_">
                            <slot name="title">Personas sin pase </slot>
                        </div>
                        <div class="p">
                            <div><span class="styleTex">{{encuestaDiariaSinnPase}}</span></div>
                        </div>
                        <div>
                            <span> de movilidad</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row " style="padding-top:20px;">
                <div class="small">
                <line-chart
                    :chart-data="datacollection"
                    :height="300"
                ></line-chart>
                </div>
                
            </div>
            
        </div>
    </div>
</template>

<script>
  import LineChart from './LineChart.js'
  import ChartService from "../../services/ChartService";

  export default {
    mounted() {
        let d = -1;
        ChartService.chartEncuesta()
            .then(data => {
                console.log("data", data);
                this.datacollection = {
                    labels: data.eje_y,
                    datasets: [
                        {
                            label: "encuesta diarios",
                            backgroundColor: 'rgb(0, 155, 239)',
                            data: data.eje_x
                        }
                    ]
                };
            })
            .catch(error => {
                console.log("error", error);
            });
        
        ChartService.reportEncuesta()
            .then(data => {
                console.log("dataA", data);
                this.encuestaSendDay=data.encuestaSendDay[0].total;
                this.encuestaDiariaConPase=data.encuestaDiariaConPase[0].total;
                this.encuestaDiariaSinnPase=data.encuestaDiariaSinnPase[0].total;
               
                
            })
            .catch(error => {
                console.log("error", error);
            });
        
    },
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: {},
        encuestaSendDay:0,
        encuestaDiariaConPase:0,
        encuestaDiariaSinnPase:0
      }
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [this.getRandomInt(), this.getRandomInt()],
          datasets: [
            {
              label: 'Data One',
              backgroundColor: 'rgb(0, 155, 239)',
              data: [this.getRandomInt(), this.getRandomInt()]
            }, {
              label: 'Data One',
              backgroundColor: 'rgb(0, 155, 239)',
              data: [this.getRandomInt(), this.getRandomInt()]
            }
          ]
        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      }
    }
  }
</script>

<style>
.small {
    max-width: 600px;
    margin: 0px auto;
}
.cell {
    height: 190px;
    background: rgb(245 245 245);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.card-header_ {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#canvas {
    height: 300px;
}
.styleTex{
    font-size: 3.5em;
    color: #2d74da;
    line-height: 1.1em;
    font-weight: 700;
}
.p{
    padding-top: 30px;
}
.title_{
    font-size: 18px;
    line-height: 40px;
    color: #777677;
}
</style>