<template>
  <v-navigation-drawer
    v-model="showDrawer"
    app
    class="app-drawer"
    :mini-variant.sync="mini"
    mini-variant-width="64"
    :width="drawerWidth"
  >
    <v-toolbar color="primary darken-1" dark>
      <img :src="computeLogo" height="36" alt="" />
      <v-toolbar-title>
        <span class="hidden-sm-and-down">Viña del Padre</span>
      </v-toolbar-title>
    </v-toolbar>
    
    <vue-perfect-scrollbar class="app-drawer__scrollbar">
      <div class="app-drawer__inner">
        <nav-list :items="computeMenu" :mini="mini" />
      </div>
    </vue-perfect-scrollbar>
    
  </v-navigation-drawer>
</template>
<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import AppSwitcher from './AppSwitcher'
import { mapState } from "vuex";
import NavList from './nav/NavList'
export default {
  name: 'AppDrawer',
  components: { VuePerfectScrollbar, AppSwitcher,NavList },
  props: {},
  mounted: function() {
   
  },
  data() {
    return {
      mini: false,
      showDrawer: true,
      drawerWidth: 256,
      scrollSettings: {
        maxScrollbarLength: 160,
      },
      menu: [
          
          {
              href: '/dashboard',
              title: 'Reportes',
              icon: 'fa fa-chart-area',
              child: [
                  {
                      href: '/dashboard/reports',
                      title: 'Agendas'
                  }
              ]
          }
      ]
    }
  },

  computed: {
    computeLogo() {
      return 'images/profile.png'
    },
    computeMenu() {
      return this.filterRouteItem(this.menu)
    },
    computeHeight() {
      return {
        height: this.height || '',
      }
    },
  },
  created() {},

  methods: {
    filterRouteItem(routes) {
      return routes
        .map((item) => {
          return {
            title: item.title,
            icon: item.icon,
            path: item.href,
            isNew:  false,
            children: item.child ? this.filterRouteItem(item.child) : [],
          }
        })
    },
    handleDrawerCollapse() {
      this.mini = !this.mini
    },
    toggleDrawer() {
      this.showDrawer = !this.showDrawer
    },
  },
}
</script>

<style lang="sass" scoped>
.app-drawer
  &__srollbar
    max-height:  calc(100vh - 64px - 36px - 44px)
  &__inner
    height: calc(100vh - 64px - 36px - 44px)
</style>
