<template>
  <v-container>
    <v-subheader class="pl-0"></v-subheader>
    <v-row>
        <v-col cols="12">
             <v-card tile>
                  <v-toolbar flat>
                       <h1 class="tituloD">Eliminar Inscripción</h1>
                  </v-toolbar>
                  <v-divider />
                  <v-card  flat class="grey lighten-4">
                      <v-card-text>
                          <form @submit.prevent="handleSend" ref="formContainer">
                           <v-row>
                                <v-col :cols="4">
                                    <label>Rut:
                                        <i id="tooltip-target-1" class="fa fa-fw fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Debe respetar el formato: 12345678"></i>
                                        <b-tooltip target="tooltip-target-1" triggers="hover">
                                        ¡Ingrese el rut sin punto ni digito verificador!
                                        </b-tooltip>
                                    </label>
                                </v-col>
                                <v-col :cols="6">
                                    <input
                                        type="input"
                                        class="form-control numero_reserva"
                                        id="rut"
                                        name="rut"
                                        v-model="rut"
                                        maxlength="10"
                                        placeholder="11111111"
                                    
                                        
                                    />
                                </v-col>
                              
                           </v-row>
                           <v-row>
                            <v-col :cols="4">
                                <label>Desde</label>
                            </v-col>
                            <v-col :cols="6">
                                <datepicker 
                                :calendarButton="true"
                                calendar-button-icon="fa fa-calendar"
                                :bootstrap-styling="true" 
                                :format="customFormatter" 
                                v-model="date.desde" 
                                :required="true"
                                :language="es"
                                :open-date="new Date()"
                                
                                >
                                <div slot="beforeCalendarHeader" class="calender-header"></div>
                                </datepicker>
                            </v-col>
                            <v-col :cols="4">
                                <label >Hasta</label>
                            </v-col>
                            <v-col :cols="6">
                                <datepicker 
                                :calendarButton="true"
                                calendar-button-icon="fa fa-calendar"
                                :bootstrap-styling="true" 
                                :format="customFormatter" 
                                v-model="date.hasta" 
                                :required="true"
                                :language="es"
                                :open-date="new Date()"
                                
                                >
                                <div slot="beforeCalendarHeader" class="calender-header"></div>
                                </datepicker>
                            </v-col>
                            </v-row>
                            <v-row>
                                <div class="col-md-4 offset-md-8" style="text-align: right;">
                                    <button  type="submit" class="btn btn-success pull-right btn_ok">Buscar</button>
                                </div>
                            </v-row> 
                           
                     
                            </form>
                      </v-card-text>
                       
                  </v-card>
                  <v-card-text class="pa-0">
                        <v-data-table
                            v-model="selected"
                            :headers="headers"
                            :items="rows"
                            :items-per-page="5"
                            class="elevation-1"
                            :single-select="singleSelect"
                            item-key="id_encuesta"
                            show-select
                            
                            @click:row="handleClick"
                            checkbox-color='black'
                           
                        >
                       
                            
                        </v-data-table>
                  </v-card-text>
                  
             </v-card>
        </v-col>
  
  
    </v-row>
    
  </v-container>
</template>

<script type="text/ecmascript-6">
import { mapState } from "vuex";
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";
import Datepicker from "vuejs-datepicker"
import moment from "moment";
import {en, es} from 'vuejs-datepicker/dist/locale'
import Container from "./Container";
import Card from "./Card";
import ReportsServices from "../services/ReportsService";
import EncuestaService from "../services/EncuestaService";
import Vue from 'vue'
import VTooltip from 'v-tooltip'
Vue.directive('tooltip', VTooltip.VTooltip)
Vue.use(VTooltip)
Vue.directive('tooltip', VTooltip.VTooltip)
Vue.directive('close-popover', VTooltip.VClosePopover)
Vue.component('v-popover', VTooltip.VPopover)
export default {
    mounted: function () {
      console.log(new Date());
        
    },
    data() {
    return {
        singleSelect: false,
        selected: [],
      rut:"",
      campana:"",
      picked:'rut',
      date:{
        desde:"",
        hasta:""
      },
      disabledDates: {
        from: new Date(),
      },
      disabledDates_hasta: {
        from: new Date(),
        to:new Date()
      },
      date_Send:{
        desde:"",
        hasta:"",
        rut:""
      },
      action:"",
      loaded:true,
      headers: [
        
        {
          text: 'fecha de ingreso',
          value: 'fecha_ingreso',
          type: 'date',
          dateInputFormat: 'yyyy-MM-dd',
          dateOutputFormat: 'dd/MM/yyyy',
          sortable:true,
        
        },
         {
          text: 'Servicio',
          value: 'descripicon',
          type: 'string',
          sortable:true,
         
        },
        
       
        

      ],
      rows: [],
      en: en,
      es: es,
      msj_error:"",
      error:false
    };
  },
  components: {
    Card,
    Container,
    VueGoodTable,
    Datepicker
  },
  watch: {
    picked: function (val) {
      console.log(val)
      switch(val) {
        case "rut":
          this.campana=""
          this.date.desde=""
          this.date.hasta=""
          this.rows=[]
          break;
        case "cam":
          this.rut=""
          this.date.desde=""
          this.date.hasta=""
          this.rows=[]
          break;
       case "date":
         this.rut=""
         this.campana=""
         this.rows=[]
         break;
      }
    },
    'date.desde': function (val) {
        this.disabledDates_hasta.to= new Date(moment(val).format('MM/DD/YYYY'));
        
    },
  
   
  },
  methods: {
    handleClick(e,value) {
        console.log("value",value.isSelected,e);
       
        this.$toaster.error("Inscripcion Cancelada."); 
        EncuestaService.deleteInscripcion(e)
        this.date_Send.desde=moment(this.date.desde).format("YYYY-MM-DD").toString();
          this.date_Send.hasta=moment(this.date.hasta).format("YYYY-MM-DD").toString();
           this.date_Send.rut=this.rut;
          ReportsServices.list_incripcion(this.date_Send)
          .then((notificaciones) => {
            this.rows=notificaciones;
            
            this.loaded = true;
            this.disabledDates.from=new Date();
            this.disabledDates_hasta.from= new Date();
            this.disabledDates_hasta.to=new Date();
          })
          .catch((error) => {
            console.log("error",error)
            this.$toaster.error("error al eliminar.");
          
            this.loaded = true;
          });
          
    },
    
    format(e) {
      if(this.picked=='rut'){
        if (!/^[0-9]*$/i.test(this.rut)) {
          this.rut = this.rut.replace(/[^ 0-9]+/ig,"");
        }
      }else{
         if (!/^[0-9]*$/i.test(this.campana)) {
          this.campana = this.campana.replace(/[^ 0-9]+/ig,"");
        }
      }
        
    },
    handleSend() {
      if (this.loaded) {
        this.loaded = false;
        let loader = this.$loading.show({
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
          color:'#9f27f9' 
        });
       
        if(this.rut==""){
            this.$toaster.error("Debe ingresar un rut válido.");
            loader.hide();
            this.loaded = true;
            return false
          
          
         
        }else{
          if(this.date.desde=="" || this.date.hasta=="" || this.date.hasta==null || this.date.desde==null  ){
            this.$toaster.error("Debe un rango de fecha válido.");
            loader.hide();
            this.loaded = true;
            return false
          }
          this.date_Send.desde=moment(this.date.desde).format("YYYY-MM-DD").toString();
          this.date_Send.hasta=moment(this.date.hasta).format("YYYY-MM-DD").toString();
           this.date_Send.rut=this.rut;
          ReportsServices.list_incripcion(this.date_Send)
          .then((notificaciones) => {
            this.rows=notificaciones;
            loader.hide();
            this.loaded = true;
            this.disabledDates.from=new Date();
            this.disabledDates_hasta.from= new Date();
            this.disabledDates_hasta.to=new Date();
          })
          .catch((error) => {
            console.log("error",error)
            this.$toaster.error("error al emitir el reporte.");
            loader.hide();
            this.loaded = true;
          });

        }
        
      }
    },
    onCellClick(params) {
      console.log(params)
    },
    formatFn: function(value) {
      var val= value.replace(/\"/g, "");
      val=val.replace(/\{/g, "");
      val=val.replace(/\}/g, "");
      return val;
    },
   
    customFormatter(date) {
      return moment(date).format("DD-MM-YYYY");
    },
    
    delete(params, data) {
      console.log("param",params)
      this.value = params;
      this.showModal=true;
    },
  },
};
</script>