<template>
    <v-container class="container-fluid">
        <!--<b-navbar toggleable="lg" type="dark" variant="" class="colorW">
            <div class="container">
                <b-navbar-brand href="#" style="max-height: 70px;">
                    <b-img height="60" width="230" src="http://lavinavitacura.cl/wp-content/uploads/2019/01/logo-viña-del-padre-a-300x123.png" class="rounded mx-auto d-block ci" alt="Responsive image"></b-img>
                </b-navbar-brand>
            </div>
        </b-navbar>-->
        <v-container class="container justify-content-center">
            <v-container class="pagina">
                <h1>Inscripcion y Autoevaluación de Salud</h1>
                <card>
                    <template slot="title">Datos personales</template>
                    <template slot="body">
                        <b-form
                            class="form-horizontal"
                            @submit="onSubmit"
                            @reset="onReset"
                            v-if="show"
                        >
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >Fecha de ingreso (*)</label
                                >
                                <div class="col-sm-9">
                                    <datepicker
                                        v-model="form.date"
                                        name="fecha"
                                        :disabled-dates="state.highlighted"
                                        :calendarButton="true"
                                        calendar-button-icon="fa fa-calendar"
                                        :bootstrap-styling="true"
                                        :format="customFormatter"
                                        @selected="handlerDate"
                                    ></datepicker>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >Reunión a la que asistira</label
                                >
                                <div class="col-sm-9 padding_input">
                                    <input
                                        type="radio"
                                        control-label
                                        value="1"
                                        v-model="form.pickedReunion"
                                        required
                                        @change="handler"
                                    />
                                    <label for="uno">10:00 hrs</label>
                                    <br />
                                    <input
                                        type="radio"
                                        control-label
                                        value="2"
                                        v-model="form.pickedReunion"
                                        required
                                        @change="handler"
                                    />
                                    <label for="Dos">12:30 hrs</label>
                                </div>
                            </div>
                            <div v-if="inscribir==1">
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >Nombre (*)</label
                                >
                                <div class="col-sm-9">
                                    <input
                                        type="text"
                                        class="form-control numero_reserva"
                                        id="descripcion"
                                        name="descripcion"
                                        v-model="form.nombre"
                                        required
                                        maxlength="50"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >Rut (*)</label
                                >
                                <div class="col-sm-9">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="descripcion"
                                        name="descripcion"
                                        v-model="form.rut"
                                        required
                                        maxlength="50"
                                    />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >¿Tuvo contacto estrecho con un caso
                                    sospechoso, confirmado, probable o
                                    asintomático de coronavirus Dentro de los
                                    últimos 11 días?</label
                                >
                                <div class="col-sm-9 padding_input">
                                    <input
                                        type="radio"
                                        control-label
                                        value="1"
                                        v-model="form.pickedContacto"
                                        required
                                        v-on:change="valid"
                                    />
                                    <label for="uno">Si</label>
                                    <br />
                                    <input
                                        type="radio"
                                        control-label
                                        value="2"
                                        v-model="form.pickedContacto"
                                        required
                                        v-on:change="valid"
                                    />
                                    <label for="Dos">No</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label">
                                    Actualmente ¿Usted presenta alguno de estos
                                    síntomas? Tos / Fiebre / Dificultad
                                    respiratoria / Dolor muscular / Dolor
                                    articular / Dolor de garganta / Secreciones
                                    nasales / Dolor de cabeza / Náusea / Vómito
                                </label>
                                <div class="col-sm-1 padding_input">
                                    <input
                                        type="radio"
                                        control-label
                                        value="1"
                                        v-model="form.pickedSintomas"
                                        required
                                        v-on:change="valid"
                                    />
                                    <label for="uno">Si</label>
                                    <br />
                                    <input
                                        type="radio"
                                        control-label
                                        value="2"
                                        v-model="form.pickedSintomas"
                                        required
                                        v-on:change="valid"
                                    />
                                    <label for="Dos">No</label>
                                </div>
                                <div
                                    class="col-sm-6 padding_input"
                                    v-if="form.pickedSintomas == 10"
                                >
                                    <div
                                        class="form-group row"
                                        v-for="(input, index) in inputs"
                                        v-bind:key="index"
                                    >
                                        <span class="col-sm-2">Sintoma</span>
                                        <div class="col-sm-8">
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="valor"
                                                name="valor"
                                                v-model="input.valor"
                                                required
                                                maxlength="50"
                                            />
                                        </div>
                                        <div
                                            v-if="inputs.length - 1 != 0"
                                            class="col-lg-1"
                                        >
                                            <div
                                                @click="deleteRow(index)"
                                                class="boton menos"
                                            ></div>
                                        </div>
                                        <div
                                            v-if="inputs.length - 1 == index"
                                            class="col-lg-1"
                                        >
                                            <div
                                                @click="addRow"
                                                class="boton mas"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >Medio de Transporte</label
                                >
                                <div class="col-sm-9 padding_input">
                                    <input
                                        type="radio"
                                        control-label
                                        value="1"
                                        v-model="form.pickedTransporte"
                                        required
                                    />
                                    <label for="uno">público</label>
                                    <br />
                                    <input
                                        type="radio"
                                        control-label
                                        value="2"
                                        v-model="form.pickedTransporte"
                                        required
                                    />
                                    <label for="Dos">privado</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >Posee Pase de movilidad</label
                                >
                                <div class="col-sm-9 padding_input">
                                    <input
                                        type="radio"
                                        control-label
                                        value="1"
                                        v-model="form.pickedPase"
                                        required
                                        v-on:change="validPase"
                                    />
                                    <label for="uno">Si</label>
                                    <br />
                                    <input
                                        type="radio"
                                        control-label
                                        value="2"
                                        v-model="form.pickedPase"
                                        required
                                        v-on:change="validPase"
                                    />
                                    <label for="Dos">No</label>
                                </div>
                            </div>
                            <!--<div class="form-group row" v-if="showPase">
                                <label for class="col-sm-3 control-label"
                                    >Scanear codigo</label
                                >
                                <div>
                                    <QRCode @updatingCode="updateCode"></QRCode>
                                </div>
                            </div>-->

                            <div class="form-group row">
                                <label for class="col-sm-3 control-label"
                                    >¿Cumple con Protocolo COVID-19 y tiene
                                    conocimiento?</label
                                >
                                <div class="col-sm-9 padding_input">
                                    <input
                                        type="radio"
                                        control-label
                                        value="1"
                                        v-model="form.pickedPCovid"
                                        required
                                    />
                                    <label for="uno">Si</label>
                                    <br />
                                    <input
                                        type="radio"
                                        control-label
                                        value="2"
                                        v-model="form.pickedPCovid"
                                        required
                                    />
                                    <label for="Dos">No</label>
                                </div>
                            </div>
                            </div>
                            <div
                                class="col-md-4 offset-md-8"
                                style="text-align: right"
                            >
                                <button
                                    :disabled="!!myInput"
                                    type="submit"
                                    class="btn btn-success pull-right btn_ok"
                                    style="margin-left: 20px"
                                >
                                    Enviar
                                </button>
                            </div>
                        </b-form>
                    </template>
                </card>
            </v-container>
        </v-container>
    </v-container>
</template>

<script>
import Card from "./Card";
import EncuestaService from "../services/EncuestaService";
import QRCode from "./QRCode";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
import { en, es } from "vuejs-datepicker/dist/locale";
export default {
    mounted: function () {
        this.inputs.push({
            valor: "",
        });
    },
    data() {
        return {
            en: en,
            es: es,
            form: {
                nombre: "",
                rut: "",
                pickedContacto: null,
                pickedSintomas: null,
                pickedPase: null,
                pickedReunion: 0,
                pickedPCovid: null,
                date: new Date(),
                code: null,
                
            },
            myInput: false,

            show: true,
            showPase: false,

            inputs: [],
            state: {
                highlighted: {
                    to: new Date(),
                    days: [ 1, 2, 3, 4, 5,6],
                },
            },
            inscribir:2
        };
    },
    components: {
        Card,
        QRCode,
        Datepicker,
    },
    methods: {
        customFormatter(date) {
            return moment(date).format("DD-MM-YYYY");
        },
        handlerDate(e) {
             console.log("pasoValidaFec", e, this.form.pickedReunion, day);
            let day = new Date(e).getDay();
            console.log("dia",day,this.form.date,"ddd");
            if (day != 0) {
                this.$toaster.error("Debe seleccionar un domingo.");
            } else if(this.form.pickedReunion!=0) {
                const data={
                    date:e,
                    servicio:this.form.pickedReunion
                }
                 EncuestaService.validarInscripcion(data)
                 .then(({data})=>{
                        console.log("res",data);
                        this.inscribir=data;
                        if(data!=1){
                            this.$toaster.error("Disculpe np existen cupos disponibles para el servicio seleccionado.");
                        }
                 }

                 )
            }
           
        },
        handler(e) {
            let day = new Date(this.form.date).getDay();
            console.log("dia",day,this.form.date,"ddd");
            if (day != 0) {
                this.$toaster.error("Debe seleccionar un domingo.");
            } else {
                const data={
                    date:this.form.date,
                    servicio:this.form.pickedReunion
                }
                 EncuestaService.validarInscripcion(data)
                 .then(({data})=>{
                        console.log("res",data);
                        this.inscribir=data;
                        if(data!=1){
                            this.$toaster.error("Disculpe np existen cupos disponibles para el servicio seleccionado.");
                        }
                    }

                 )
            }
            console.log("paso", e, this.form.pickedReunion, day);
        },
        onSubmit(event) {
            event.preventDefault();
            if (
                this.form.pickedContacto == null ||
                this.form.pickedSintomas == null ||
                this.form.pickedPase == null ||
                this.form.pickedReunion == null ||
                this.form.pickedPCovid == null ||
                this.form.pickedTransporte == null 

            ) {
                this.$toaster.error("Debe completar todos los datos.");
            } else if( this.form.pickedPCovid == 2 || 
                        this.form.pickedPase==2 
                        ) {
                            console.log(this.form.pickedPCovid,this.form.pickedPase);
                        this.$toaster.error("Disculpe ingreso condiciones que no permiten realizar la incripción.");
            }
            else{
                console.log(this.form.date)
                EncuestaService.save_encuesta(this.form)
                    .then(({data}) => {
                        console.log("respuesta save", data);
                        if(data=='true'){
                            this.$toaster.success("Registro guardado.");
                        }else{
                            this.$toaster.error("Disculpe ud ya se encuentra inscrito");
                        }
                        
                        this.form.nombre = "";
                        this.form.rut = "";
                        this.form.pickedContacto = null;
                        this.form.pickedSintomas = null;
                        this.form.pickedPase = null;
                        this.form.pickedReunion = null;
                        this.form.pickedPCovid = null;
                        this.form.pickedTransporte = null;
                        this.showPase = false;
                        this.inscribir=2;
                        /*this.$router.push("/dashboard/mantenedor_reglas");
                        this.regla.descripcion="";
                        this.inputs=[];
                        this.inputs.push({
                            valor: "",
                        });*/
                    })
                    .catch((error) => {
                        console.log("error", error);
                        this.$toaster.error(
                            "The form has some validation errors."
                        );
                    });
            }
        },
        onReset(event) {
            event.preventDefault();
            // Reset our form values
            this.form.email = "";
            this.form.name = "";
            this.form.food = null;
            this.form.checked = [];
            // Trick to reset/clear native browser form validation state
            this.show = false;
            this.$nextTick(() => {
                this.show = true;
            });
        },
        addRow() {
            event.preventDefault();
            this.inputs.push({
                valor: "",
            });
        },

        deleteRow(index) {
            this.inputs.splice(index, 1);
        },
        valid(index) {
            if (
                this.form.pickedContacto == 1 ||
                this.form.pickedSintomas == 1
            ) {
                this.$toaster.error(
                    "Disculpe no puede continuar con el registro y debe asistir a un centro medico"
                );
                this.myInput = true;
            } else {
                this.myInput = false;
            }
        },
        validPase(dt) {
            if (this.form.pickedPase == 1) {
                this.showPase = true;
            } else {
                this.showPase = false;
            }
        },
        updateCode(newValue) {
            this.form.code = newValue; // 3.Updating
        },
    },
};
</script>
