<template>
  <div>
    <sidebar-menu
      :menu="menu"
      :collapsed="collapsed"
      :theme="selectedTheme"
      :show-one-child="true"
      @collapse="onCollapse"
      @item-click="onItemClick"
      @toggle-collapse="onToggleCollapse"
      :width="width"
    >
    <div slot="header">
       <div class="user-panel">
            <div class="pull-left image"><img src="images/profile.png" class="img-circle" alt="User Image"></div>
            <div class="pull-left info">
                <p>{{fullname}}</p>
                <a href="#" style="cursor:pointer;"> Admin - user</a>
            </div>
        </div>
    </div>
    </sidebar-menu>
  </div>
</template>
 
<script>
import { mapState } from "vuex";
import { SidebarMenu } from "vue-sidebar-menu";
import "vue-sidebar-menu/dist/vue-sidebar-menu.css";
export default {
  name: "navigation",
  mounted: function() {
   
  },
  computed: {
    ...mapState("global", {
      // key => yeta rakhne naam , value => uta k xa
      currentUser: "currentUser"
    }),
    fullname:function () {
      var u=this.currentUser;
      return u.nombre+" "+ u.apellido;
    }
  
  },
  
  data() {
    return {
      collapsed: false,
      themes: ["", "white-theme"],
      selectedTheme: "default-theme",
      width: "230px",
      
      menu: [
          
          {
              href: '/dashboard',
              title: 'Reportes',
              icon: 'fa fa-chart-area',
              child: [
                  {
                      href: '/dashboard/reports',
                      title: 'Agendas'
                  }
              ]
          }
      ]
    };
  },
  components: {
    SidebarMenu,
  },
  methods: {
    onCollapse(collapsed) {
      this.collapsed = collapsed;
      console.log("click");
    },
    onItemClick(event, item) {
      console.log("click1");
    },
    onToggleCollapse(collapsed) {
      if(collapsed==true){
        $('.content-wrapper').removeClass("content-wrapper").addClass("collapsed");
      }else{
        $('.collapsed').removeClass("collapsed").addClass("content-wrapper");
      }
     
    },
  },
};
</script>

