<template>
      
      <div>
            <p class="decode-result">código: <b>{{ result }}</b></p>
            <StreamBarcodeReader
            @decode="onDecode" v-show="isLoading">
            </StreamBarcodeReader>
            <!--<qrcode-stream @decode="onDecode2"></qrcode-stream>
            <div>
                <p class="decode-result">Last result: <b>{{ result }}</b></p>

                <qrcode-capture @decode="onDecode3" />
            </div>
            <div>
                <p class="decode-result">Last resul2t: <b>{{ result }}</b></p>
                <QrcodeCapture  accept="*" @decode="onDecode2" @detect="onDetect" ></QrcodeCapture>
            </div>-->
      </div>
      
</template>

<script>
  import {StreamBarcodeReader} from "vue-barcode-reader";
  import VueQrcodeReader from 'vue-qrcode-reader';
  import { QrcodeStream, QrcodeDropZone, QrcodeCapture } from 'vue-qrcode-reader'


  export default {
    components: {
      StreamBarcodeReader,
      VueQrcodeReader,
      QrcodeStream,
      QrcodeDropZone,
      QrcodeCapture
    },
    data() {
      return {
        scanned: false,
        code: '',
        result: '',
        isLoading: true,
      }
    },
    methods: {
        onDecode(result) {
            this.result=result; 
            console.log("res"+result)
            if (this.scanned) return;
            this.scanned = true;
            let parts = result.split('/');
            let token = parts[parts.length - 1];
            console.log(token)
            this.$emit('updatingCode', result)
            this.isLoading=false;
        },
        onDecode2 (decodedString) {
            // ...
            console.log("res2"+decodedString)
            this.result = decodedString
            this.$emit('updatingCode', result)
        },
        onDecode3 (result) {
                this.result = result
                this.$emit('updatingCode', result)
        },
        async onDetect (promise) {
            var txt="";
            console.log("ddonDetectd" + promise);
            for (let x in promise) {
                txt += promise[x];
                console.log("atri" + txt + "valor:" + promise[x]  );
            }
            try {
            const {
                imageData,    // raw image data of image/frame
                content,      // decoded String or null
                location      // QR code coordinates or null
            } = await promise
            console.log("ddonDetectdimageData" + promise );
            if (content === null) {
                // decoded nothing
                console.log("conten null");
            } else {
                // ...
                 console.log("conten NO null" + content);
            }
            } catch (error) {
                var txt="";
                 console.log("error" + error);
                   for (let x in error) {
                txt += error[x];
                console.log("atri" + txt + "valor:" + error[x]  );
            }
            }
        }
    }
  }
</script>