<template>
  <div>
    <div class="container-fluit">
      <div class="container-fluit">
        <card>
          <template slot="title"><i class="fa fa-cog"></i> <span class="tex-canje">Busqueda</span></template>
          <template slot="body">
                <form @submit.prevent="handleSend" ref="formContainer">
                <div class="radio_">
                    <label><input type="radio"  value="rut" v-model="picked"> <sub>*</sub> Por R.U.T.</label>
                    <i id="tooltip-target-1" class="fa fa-fw fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title="Debe respetar el formato: 12345678"></i>
                    <b-tooltip target="tooltip-target-1" triggers="hover">
                      ¡Ingrese el rut sin punto ni digito verificador!
                    </b-tooltip>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <input
                            type="input"
                            class="form-control numero_reserva"
                            id="rut"
                            name="rut"
                            v-model="rut"
                            maxlength="10"
                            placeholder="11111111"
                           
                            
                        />
                    </div>
                    <p  class="col-sm-12 text-info" v-if="error" id="msgerror">{{msj_error}}</p>
                </div>
                <br/>
                <div class="radio_">
                    <label><input type="radio"  value="date" v-model="picked"> <sub>*</sub> Por Fecha</label>
                    <i id="tooltip-target-3" class="fa fa-fw fa-question-circle" data-toggle="tooltip" data-placement="right" title="" data-original-title=""></i>
                    <b-tooltip target="tooltip-target-3" triggers="hover">
                      ¡Ingrese un rango de fecha!
                    </b-tooltip>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Desde</label>
                    <div class="col-sm-4">
                        <datepicker 
                            :calendarButton="true"
                            calendar-button-icon="fa fa-calendar"
                            :bootstrap-styling="true" 
                            :format="customFormatter" 
                            v-model="date.desde" 
                            :required="true"
                            :language="es"
                            :open-date="new Date()"
                            
                            >
                            <div slot="beforeCalendarHeader" class="calender-header"></div>
                            </datepicker>
                    </div>
                    <label class="col-sm-2">Hasta</label>
                    <div class="col-sm-4">
                        <datepicker 
                            :calendarButton="true"
                            calendar-button-icon="fa fa-calendar"
                            :bootstrap-styling="true" 
                            :format="customFormatter" 
                            v-model="date.hasta" 
                            :required="true"
                            :language="es"
                            :open-date="new Date()"
                            
                            >
                            <div slot="beforeCalendarHeader" class="calender-header"></div>
                            </datepicker>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-4 offset-md-8" style="text-align: right;">
                        <button  type="submit" class="btn btn-success pull-right btn_ok">Buscar</button>
                    </div>
                </div>
                </form>
                <div v-if="rows.length>0">
                  <vue-good-table
                    ref="MyTable"
                    :columns="columns"
                    :rows="rows"
                    :fixed-header="true"
                    @on-cell-click="onCellClick"
                    :pagination-options="{
                      enabled: true,
                      ofLabel: 'de',
                      nextLabel: 'Siguiente',
                      prevLabel: 'Anterior',
                      rowsPerPageLabel: 'Mostrar',
                      allLabel: 'Todo'
                    }"
                    :search-options="{
                      enabled: true,
                      placeholder: 'Buscar',
                    }"
                    styleClass="vgt-table bordered"
                    
                    >
                    <div slot="emptystate" style="text-align: center;">
                      Ningún dato disponible en esta tabla
                    </div>
                    <template slot="table-row" slot-scope="props" >
                      <span v-if="props.formattedRow[props.column.field] ==2">
                         No
              
                      </span>
                      <span v-else-if="props.formattedRow[props.column.field] ==1" >
                        Si
                      </span>
                      <span v-else>
                        {{props.formattedRow[props.column.field]}}
                      </span>
                        
                    </template>
                  </vue-good-table>
                  <div class="form-group row mb-0">
                      <div class="col-md-4 offset-md-8" style="text-align: right;">
                          <button @click="downloadFile" class="btn btn-success pull-right btn_ok">Descargar<i class="fa fa-download"></i></button>
                      </div>
                  </div>
                </div>
                <div v-else >No existen registros para mostrar con los datos suministrados
                 
                </div>
                
          </template>
        </card>
      </div>
    </div>
  </div>
</template>
<script type="text/ecmascript-6">
import { mapState } from "vuex";
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";
import Datepicker from "vuejs-datepicker"
import moment from "moment";
import {en, es} from 'vuejs-datepicker/dist/locale'
import Container from "../../components/Container";
import Card from "../../components/Card";
import ReportsServices from "../../services/ReportsService";
import Vue from 'vue'
import VTooltip from 'v-tooltip'
Vue.directive('tooltip', VTooltip.VTooltip)
Vue.use(VTooltip)
Vue.directive('tooltip', VTooltip.VTooltip)
Vue.directive('close-popover', VTooltip.VClosePopover)
Vue.component('v-popover', VTooltip.VPopover)
export default {
    mounted: function () {
      console.log(new Date());
        
    },
    data() {
    return {
      rut:"",
      campana:"",
      picked:'rut',
      date:{
        desde:"",
        hasta:""
      },
      disabledDates: {
        from: new Date(),
      },
      disabledDates_hasta: {
        from: new Date(),
        to:new Date()
      },
      date_Send:{
        desde:"",
        hasta:""
      },
      action:"",
      loaded:true,
      columns: [
        {
          label: 'Nombre',
          field: 'nombre',
          tdClass: 'text-center'
          
        },
       
        {
          label: 'RUT',
          field: 'rut',
          type: 'number',
          sortable:true,
          tdClass: 'text-center'
        },
        {
          label: 'fecha de ingreso',
          field: 'fecha_ingreso',
          type: 'date',
          dateInputFormat: 'yyyy-MM-dd',
          dateOutputFormat: 'dd/MM/yyyy',
          sortable:true,
          tdClass: 'text-center'
        },
         {
          label: 'Servicio',
          field: 'descripicon',
          type: 'number',
          sortable:true,
          tdClass: 'text-center'
        },
       
       

      ],
      rows: [],
      en: en,
      es: es,
      msj_error:"",
      error:false
    };
  },
  components: {
    Card,
    Container,
    VueGoodTable,
    Datepicker
  },
  watch: {
    picked: function (val) {
      console.log(val)
      switch(val) {
        case "rut":
          this.campana=""
          this.date.desde=""
          this.date.hasta=""
          this.rows=[]
          break;
        case "cam":
          this.rut=""
          this.date.desde=""
          this.date.hasta=""
          this.rows=[]
          break;
       case "date":
         this.rut=""
         this.campana=""
         this.rows=[]
         break;
      }
    },
    'date.desde': function (val) {
        this.disabledDates_hasta.to= new Date(moment(val).format('MM/DD/YYYY'));
        
    },
  
   
  },
  methods: {
    format(e) {
      if(this.picked=='rut'){
        if (!/^[0-9]*$/i.test(this.rut)) {
          this.rut = this.rut.replace(/[^ 0-9]+/ig,"");
        }
      }else{
         if (!/^[0-9]*$/i.test(this.campana)) {
          this.campana = this.campana.replace(/[^ 0-9]+/ig,"");
        }
      }
        
    },
    handleSend() {
      if (this.loaded) {
        this.loaded = false;
        let loader = this.$loading.show({
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
          color:'#9f27f9' 
        });
        if(this.picked=='rut'){
          if(this.rut==""){
            this.$toaster.error("Debe ingresar un rut válido.");
            loader.hide();
            this.loaded = true;
            return false
          }
          
          ReportsServices.getEncuestaReportRut(this.rut)
          .then((notificaciones) => {
            this.rows=notificaciones;
            loader.hide();
            this.loaded = true;
          })
          .catch((error) => {
            console.log("error", error);
            this.$toaster.error("error al emitir el reporte.");
            loader.hide();
            this.loaded = true;
          });
        }else{
          if(this.date.desde=="" || this.date.hasta=="" || this.date.hasta==null || this.date.desde==null  ){
            this.$toaster.error("Debe un rango de fecha válido.");
            loader.hide();
            this.loaded = true;
            return false
          }
          this.date_Send.desde=moment(this.date.desde).format("YYYY-MM-DD").toString();
          this.date_Send.hasta=moment(this.date.hasta).format("YYYY-MM-DD").toString();
          ReportsServices.list_notificaciones_date(this.date_Send)
          .then((notificaciones) => {
            this.rows=notificaciones;
            loader.hide();
            this.loaded = true;
            this.disabledDates.from=new Date();
            this.disabledDates_hasta.from= new Date();
            this.disabledDates_hasta.to=new Date();
          })
          .catch((error) => {
            console.log("error",error)
            this.$toaster.error("error al emitir el reporte.");
            loader.hide();
            this.loaded = true;
          });

        }
        
      }
    },
    onCellClick(params) {
      console.log(params)
    },
    formatFn: function(value) {
      var val= value.replace(/\"/g, "");
      val=val.replace(/\{/g, "");
      val=val.replace(/\}/g, "");
      return val;
    },
    downloadFile(e) {
      if(this.picked=='rut'){
        var data=this.rut
      }else{
        var data=JSON.stringify(this.date)
      }

      this.action='/dowload/'+this.picked+"/"+data;
      e.preventDefault();
        let options = {
          responseType: 'blob',
          
        }
      axios({
        url: this.action,
        method: 'GET',
        responseType: 'blob', // important
      }).then((response) => {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'file.xlsx'); //or any other extension
        document.body.appendChild(link);
        link.click();
        link.remove();
        window.URL.revokeObjectURL(url);
        this.disabledDates.from=new Date();
        this.disabledDates_hasta.from= new Date();
        this.disabledDates_hasta.to=new Date();
      });
    },
    customFormatter(date) {
      return moment(date).format("DD-MM-YYYY");
    },
    validaRut: function(rutCompleto) {
        rutCompleto = rutCompleto.replace("‐","-");
        if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
            return false;
        var tmp     = rutCompleto.split('-');
        var digv    = tmp[1];
        var rut     = tmp[0];
        if ( digv == 'K' ) digv = 'k' ;

        return (this.dv(rut) == digv );
    },
    dv : function(T){
        var M=0,S=1;
        for(;T;T=Math.floor(T/10))
            S=(S+T%10*(9-M++%6))%11;
        return S?S-1:'k';
    },
  },
};
</script>