<template>
  <v-app-bar color="primary" dark app>
    <span class="material-icons" >
      menu
    </span>
    <v-app-bar-nav-icon @click="handleDrawerToggle" />
    <v-spacer />
    <v-toolbar-items>
      <v-btn text @click="handleDashboard()">Dashboard</v-btn>
           
      <v-btn icon @click="handleFullScreen()">
        <v-icon>mdi-fullscreen</v-icon>
      </v-btn>
      <v-btn icon @click="logOut()">
        <span class="material-icons">
        logout
        </span>
      </v-btn>
      
      <!-- locale -->
     
      <v-menu offset-y origin="center center" transition="scale-transition">
        
        <v-list class="pa-0">
          <v-list-item
            v-for="(item, index) in profileMenus"
            :key="index"
            :to="!item.href ? { name: item.name } : null"
            :href="item.href"
            :disabled="item.disabled"
            :target="item.target"
            rel="noopener"
            @click="item.click"
          >
            <v-list-item-action v-if="item.icon">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar-items>
   
    
  </v-app-bar>
</template>
<script>


import { mapGetters } from 'vuex'
import { mapState } from "vuex";
import Util from '../util'
import CAvatar from '../components/avatar/CAvatar'
export default {
  name: 'AppToolbar',
  components: {
     CAvatar,
  },
  props: {
    extended: Boolean,
  },
  data() {
    return {
      profileMenus: [
        {
          icon: 'mdi-account',
          href: '#',
          title: 'Profile',
          click: this.handleProfile,
        },
        {
          icon: 'mdi-cog',
          href: '#',
          title: 'Settings',
          click: this.handleSetting,
        },
        {
          icon: 'mdi-power',
          href: '#',
          title: 'Logout',
          click: this.handleLogut,
        },
      ],
    }
  },
  computed: {
    ...mapGetters(['getAvatar', 'currentUser', 'getNotification']),
     ...mapState("global", {
      currentUser: "currentUser",
      getAvatar:"getAvatar",
      currentCampaingReglasCanal:"currentCampaingReglasCanal"
    }),
    
  },
   mounted: function () {
   },
  created() {},
  methods: {
    handleDashboard() {
     this.$router.push("/dashboard");
    },
    handleDrawerToggle() {
      this.$emit('side-icon-click')
    },
    handleFullScreen() {
      console.log("F");
      Util.toggleFullScreen()
    },
    handleLogut() {
      if (window.confirm('Are you sure to logout?')) {
        this.$store.dispatch('logout')
        window._VMA.$emit('SHOW_SNACKBAR', {
          text: 'Logout successfull',
          color: 'success',
        })
        this.$router.push('/auth/login')
      }
    },
    logOut() {
        this.$session.destroy();
        localStorage.removeItem("currentUser");
        this.$store.commit("global/removeCurrentUser");
        this.$router.push("/gestor");
      },

    handleSetting() {},
    handleProfile() {},
    handleGoBack() {
      this.$router.go(-1)
    },
  },
}
</script>
