<template>
  <div data-app class="main">
   <!--<main-header/> -->
     <AppTollBar></AppTollBar>
    <div class="container">
      <slot/>
    </div>
  </div>
</template>

<script>
import MainHeader from "./Header.vue";
import AppTollBar from "./AppToolbar"

export default {
  components: {
    MainHeader,
    AppTollBar
  },
  created() {},
  methods: {}
};
</script>

<style>
</style>
