<template>
  <div>
    <div class="row justify-content-center align-content-center h-100">
      <div class="col-12 align-self-center">
        <p v-if="error" class="alert alert-danger small">{{ msj }}</p>
      </div>
      <div class="col-12 align-self-center">
        <div class="card card-container">
          <img
            id="profile-img"
            class="profile-img-card"
            src="images/engagement.png"
          />
          <p id="profile-name" class="profile-name-card"></p>
          <form @submit.prevent="handleLogin" class="form-signin" ref="formContainer">
            <input
              type="text"
              id="usuario"
              name="user_name"
              class="form-control"
              placeholder="Usuario"
              v-model="credentials.user_name"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Contraseña anterior"
              v-model="credentials.old_password"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Contraseña nueva"
              v-model="credentials.new_password"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Confirmar contraseña"
              v-model="credentials.new_password_confirm"
              required
            />

            <div>
              <b-button type="submit" variant="success">Guardar</b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AuthService from "../../../services/AuthService";
export default {
  mounted() {
   
  },
  data: function () {
    return {
      credentials: {
        user_name: "",
        old_password: "",
        new_password: "",
        new_password_confirm:""
      },
      msj: "",
      error: false,
      fullPage: false,
      loaded: true
      
    };
  },
  methods: {
    handleLogin() {
      console.log("loadd",this.loaded);
      if (this.loaded) {
        this.loaded = false;
        let loader = this.$loading.show({
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
          color:'#9f27f9' 
        });
        AuthService.changeCredendiales(this.credentials)
          .then((user) => {
            var code=user.code;
            if(code=='422'){
              this.$toaster.error(user.mensaje);
              loader.hide();
              this.loaded = true;

            }else if(code=='201'){
              this.$toaster.success("por favor realizar el login.");
              this.$router.push("/");
              loader.hide();

            }else{
              this.$toaster.error(user.mensaje);
              loader.hide();
              this.loaded = true;
            }
          
           
          })
          .catch((error) => {
            console.log("error", error);
            this.$toaster.error("Las credenciales no coinciden con nuestros registros.");
            loader.hide();
            this.loaded = true;
          });
      }
    },
    onCancel() {
      console.log('User cancelled the loader.')
    } 
  },
};
</script>
