<template>
  <div>
    <div class="row justify-content-center align-content-center h-100">
      <div class="col-12 align-self-center">
        <p v-if="error" class="alert alert-danger small">{{ msj }}</p>
      </div>
      <div class="col-12 align-self-center">
        <div class="card card-container">
          <img
            id="profile-img"
            class="profile-img-card"
            src="images/engagement.png"
          />
          <p id="profile-name" class="profile-name-card"></p>
          <form @submit.prevent="handleLogin" class="form-signin" ref="formContainer">
            <input
              type="text"
              id="usuario"
              name="user_name"
              class="form-control"
              placeholder="Usuario"
              v-model="credentials.user_name"
              required
            />
           

            <div>
              <b-button type="submit" variant="success">Recuperar credenciales</b-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AuthService from "../../../services/AuthService";
export default {
  mounted() {
   
  },
  data: function () {
    return {
      credentials: {
        user_name: "",
      },
      msj: "",
      error: false,
      fullPage: false,
      loaded: true
      
    };
  },
  methods: {
    handleLogin() {
      console.log("loadd",this.loaded);
      if (this.loaded) {
        this.loaded = false;
        let loader = this.$loading.show({
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
          color:'#9f27f9' 
        });
        AuthService.forgotCredendiales(this.credentials)
          .then((user) => {
            console.log(user);
            this.$toaster.success(user.mensaje);
            this.$router.push("/");
            loader.hide();
            this.loaded = true;
          })
          .catch((error) => {
            console.log("error", error);
            this.$toaster.error("Las credenciales no coinciden con nuestros registros.");
            loader.hide();
            this.loaded = true;
          });
      }
    },
    onCancel() {
      console.log('User cancelled the loader.')
    } 
  },
};
</script>
