<template>
  <div>
    <div class="row justify-content-center align-content-center h-100">
      <div class="col-12 align-self-center">
        <p v-if="error" class="alert alert-danger small">{{ msj }}</p>
      </div>
      <div class="col-12 align-self-center">
        <div class="card card-container">
          <img
            id="profile-img"
            class="profile-img-card"
            src="images/logo2.jpg"
          />
          <p id="profile-name" class="profile-name-card"></p>
          <form @submit.prevent="handleLogin" class="form-signin" ref="formContainer">
            <input
              type="text"
              id="usuario"
              name="user_name"
              class="form-control"
              placeholder="Usuario"
              v-model="credentials.email"
              required
            />
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              v-model="credentials.password"
              required
            />

            <div>
              <b-button type="submit" variant="success">Inicio Sesión</b-button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AuthService from "../../../services/AuthService";
export default {
  mounted() {
   
  },
  data: function () {
    return {
      credentials: {
        email: "",
        password: "",
      },
      msj: "",
      error: false,
      
      fullPage: false,
      loaded: true
      
    };
  },
  methods: {
    handleLogin() {
      console.log("loadd",this.loaded);
      if (this.loaded) {
        this.loaded = false;
        let loader = this.$loading.show({
          container: this.fullPage ? null : this.$refs.formContainer,
          canCancel: true,
          onCancel: this.onCancel,
          color:'#9f27f9' 
        });
        AuthService.login(this.credentials)
          .then((user) => {
            console.log("data1",user);
            if(user.status=='303'){
              this.$router.push("/changePassword");
              this.$toaster.success("Primer acceso por favor cambiar las credenciales.");
              loader.hide();
              this.loaded = true;
            }else{
               this.$session.start()
              this.$store.dispatch("global/setCurrentUser", user.data.usurio);
              this.$toaster.success("Inicio de sesión exitosa.");
              this.$session.set('jwt', user.data.api_token)
              this.$session.set('api_munu', user.data.api_menu);
              this.$session.set('apellido', user.data.apellido);
              this.$session.set('nombre', user.data.nombre);
              this.$router.push("/dashboard");
              loader.hide();
              this.loaded = true;

            }
           
          })
          .catch((error) => {
            console.log("error", error);
            this.$toaster.error("Las credenciales no coinciden con nuestros registros.");
            loader.hide();
            this.loaded = true;
          });
      }
    },
    onCancel() {
      console.log('User cancelled the loader.')
    } 
  },
};
</script>
